pip install pandas_datareader
pip install pandas
pip install numpy
pip install matplotlib.pyplot
pip install statistics
pip install math
pip install scipy.stats
pip install statsmodels.api
pip install requests
pip install io.BytesIO
pip install datetime
